extends ../layout 

block content 
	each article, i in articles
		i.ui.text.container
			img.ui.small.left.floated.image.visible(src='/assets/nez.png')
			h1=article.title
			p=article.content
			p by #{article.author}
		br
		br
		br
		br