body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.ui.attached.stackable.menu.header.inverted{
	margin-bottom:20px;
	background-color: grey;
}
.center{
  justify-content: center;
}
.ui.items.movies{
  width: 650px;
}
