extends ../layout.jade

block content
	i.ui.center.aligned.text.container
		p.centered Parce que rien se sera jamais pareil sans lui, petit ange parti beaucoup trop tôt...
		img.ui.massive.centered.image.transition.visible(src='/assets/jo.jpg')
		br
		img.ui.massive.centered.image.transition.visible(src='/assets/jogif.gif')
