extends layout

block content
  .pusher
    .ui.attached.stackable.menu.header.inverted
      .ui.container.center
        a.item
          i.home.icon
          |  Home
        a.item
          i.id.card.icon
          |  Ronan
        a.item
          i.newspaper.icon
          |  Flux
        a.item
          i.film.icon
          |  Films
  .ui.text.container
    p this sums up my life 
    img.ui.medium.left.floated.image.transition.visible(src='/assets/tw.jpg')
    img.ui.medium.right.floated.image.transition.visible(src='/assets/vegan.jpg')
    img.ui.medium.left.floated.image.transition.visible(src='/assets/watson.jpg')
    img.ui.medium.right.floated.image.transition.visible(src='/assets/harambe.jpeg')
