extends layout

block content
  .pusher
    .ui.attached.stackable.menu.header.inverted
      .ui.container.center
        a.item
          i.home.icon
          |  Home
        a.item
          i.id.card.icon
          |  Ronan
        a.item
          i.newspaper.icon
          |  Flux
        a.item
          i.film.icon
          |  Films
    p welcome, to Nenozaure. This website is building up 
