extends layout

block content
  .ui.text.container
    p Bienvenue sur mon site! Je vais mettre un peu n'importe quoi, je vais utiliser ça comme mon espace perso 
    img.ui.medium.centered.image.transition.visible(src='/assets/lenenozaure.jpg')
    br
    p Le nenozaure viens au départ de cette image: n'est-elle pas magnifique! c'est quand meme un dinosaure avec un nez. Regardez la courbur du fessier, les poils sortant de la tête (?)! Un grand merci au hackz0r qui l'a déssiné, j'ai nommé Hexaspray.
    br
    p Vous le comprendrez vite, je peut mettre n'importe quoi sur ce site