extends layout

block content
  .ui.text.container
    p this sums up my life 
    img.ui.medium.left.floated.image.transition.visible(src='/assets/tw.jpg')
    img.ui.medium.right.floated.image.transition.visible(src='/assets/vegan.jpg')
    img.ui.medium.left.floated.image.transition.visible(src='/assets/watson.jpg')
    img.ui.medium.right.floated.image.transition.visible(src='/assets/harambe.jpeg')
